<div id="<%= dom_id url %>">
  <p>
    <strong>Short url:</strong>
    <a href="<%= request.base_url + '/' + url.short_url%>" target="_blank">
      <%= request.base_url + '/' + url.short_url %>
    </a>
  </p>

  <p>
    <strong>Long url:</strong>
    <%= url.long_url %>
  </p>

</div>
